<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Star Wars Index</h1>
    <% for(let i = 0; i < starWarsData.length; i++){ %> 
        <% const movie = starWarsData[i] %>
        <p>Movie Name: <%= movie.Title %></p>
        <p>Release Year: <%= movie.Year%></p>
        <img src="<%=movie.Poster%>">
    <% } %>
</body>
</html>